<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zalango 20 Items app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body class="container">


  {% if facebook_login %}
      <div class="jumbotron">
        <h4>Zalando 20 Items app. Hello {{ logged_as }}!</h4>
      </div>
      <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" class="btn btn-primary btn-lg active" role="button" target="_blank">Open profile of {{ logged_as}}</a>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-lg active">Logout</button>
      </form>
    {% else %}
      <button type="button" disabled>Logout</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
    {% endif %}


{% if zalandoItems %}
    <table class="table table-striped table-inverse">
    <tr>
        <th>Name</th>
        <th>Action</th>
        <th>Photo</th>
    </tr>
    {% for item in zalandoItems %}
        <tr>
            <td>{{ item.name }}</td>
            <td><a href={{ item.shopUrl }} class="btn btn-primary btn-lg active" role="button">Show in shop</a></td>
            <td>
                {% for imgUrl in item.media.images %}
                <img src={{imgUrl.smallUrl}}>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No zalando items found.</p>
{% endif %}
{% else %}
    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-lg active" role="button">Connect to Facebook</a>
{% endif %}

</body>
</html>